nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:grey;
    font-weight: bold;
}
nav .title{
    margin-left: 100px;
    margin-top: 5px;
    color: white;
}
nav ul{
    display: flex;
    margin: 7px 100px 7px 0;  
}
nav ul li{
    cursor: pointer;
    list-style: none;
    padding: 0.4rem;
    margin: 0.05rem;
    color: white;
}
/* a {
    text-decoration: none;
    color: white;
    
    font-style: normal;
    font-family: sans-serif;
    text-transform: capitalize;
  
  } */
  a {
    text-decoration: none;
}