/* .mg-5 {
    margin: 6rem  9.5rem !important;
} 
.parag p{
    font-size: 17px;
    text-indent: 4rem;
    text-align: justify;
    margin-bottom: 3rem;
}
.state-food-img {

height: 220px;
 width: 250px; 
border-radius: 4px;

padding: 6px;


} */
  
 /* .ps-5{
    padding-left: 3px !important;
}  */